.round {
  margin-top: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
}

.round h2 {
  margin-top: 0;
  color: #004080;
  text-align: center;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}
/* 
a {
  color: red;
  background: green;
  font-weight: bold;
} */

a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  
}

table th {
  background: #004080;
  color: white;
  padding: 0.5rem;
  border: 1px solid white;
}
table td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid gray;
}